---
import Picture from "~/components/core/Picture.astro";
import Badge from "../core/Badge.astro";
const { } = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="text-center pb-12 md:pb-16">
        <h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4">
          
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500">Thành
          </span> says hi. He is me.
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            And I am so glad you come! This place stores what I have learnt, observed or thought about
            throughout my career as a variable namer, mostly to push my understanding to its limit, but
            if it as a welcome side effect also satisfies part of your curiousity it would be a true
            pleasure of mine.
          </p>
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <ul>
              <li><Badge/></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>